* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v462_282 {
    width: 100%;
    height: 1783px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v462_283 {
    width: 270px;
    height: 98px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 368px;
    left: 1353px;
    overflow: hidden;
  }
  .v462_284 {
    width: 100%;
    height: 84px;
    background: rgba(226,24,51,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v462_285 {
    width: 100%;
    height: 381px;
    background: rgba(194,194,194,1);
    opacity: 1;
    position: absolute;
    top: 85px;
    left: 0px;
    overflow: hidden;
  }
  .v462_286 {
    width: 452px;
    color: rgba(255,255,255,0.6499999761581421);
    position: absolute;
    top: 33px;
    left: 320px;
    font-family: IBM Plex Serif;
    font-weight: SemiBold;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v480_255 {
    width: 215px;
    height: 102px;
    background: rgba(226,24,51,1);
    opacity: 1;
    position: absolute;
    top: 1593px;
    left: 2508px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    overflow: hidden;
  }
  .v480_256 {
    width: 248px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1612px;
    left: 2487px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v480_257 {
    width: 215px;
    height: 102px;
    background: rgba(234,171,0,1);
    opacity: 1;
    position: absolute;
    top: 1593px;
    left: 2164px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    overflow: hidden;
  }
  .v480_258 {
    width: 248px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1612px;
    left: 2143px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v480_272 {
    width: 698px;
    height: 100%;
    background: rgba(226,226,226,0.800000011920929);
    opacity: 1;
    position: absolute;
    top: 466px;
    left: 0px;
    overflow: hidden;
  }
  .v480_276 {
    width: 453px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 549px;
    left: 217px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 38px;
    opacity: 1;
    text-align: right;
  }
  .v480_277 {
    width: 207px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 922px;
    left: 463px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 38px;
    opacity: 1;
    text-align: right;
  }
  .v480_278 {
    width: 851px;
    height: 96px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 552px;
    left: 772px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v480_279 {
    width: 851px;
    height: 96px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 734px;
    left: 772px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v482_395 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 362px;
    left: 1px;
    overflow: hidden;
  }
  .v482_396 {
    width: 100%;
    height: 104px;
    background: url("../images/v482_396.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v482_397 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(149,149,149,1);
  }
  .v482_398 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v482_399 {
    width: 100%;
    height: 104px;
    background: url("../images/v482_399.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v482_400 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(149,149,149,1);
  }
  .v482_401 {
    width: 424px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 497px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v482_402 {
    width: 269px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 958px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v482_403 {
    width: 359px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 1294px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v482_404 {
    width: 269px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 1720px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v482_405 {
    width: 269px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 2056px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v482_406 {
    width: 349px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 2392px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v482_407 {
    width: 312px;
    height: 100px;
    background: rgba(196,196,196,0.5);
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 1318px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v482_408 {
    width: 339px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 32px;
    left: 91px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v487_284 {
    width: 851px;
    height: 96px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 922px;
    left: 772px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v487_285 {
    width: 851px;
    height: 96px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 1104px;
    left: 772px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v487_286 {
    width: 453px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 731px;
    left: 217px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 38px;
    opacity: 1;
    text-align: right;
  }
  .v487_287 {
    width: 207px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1088px;
    left: 463px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 38px;
    opacity: 1;
    text-align: right;
  }
  .v487_288 {
    width: 453px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1254px;
    left: 217px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 38px;
    opacity: 1;
    text-align: right;
  }
  .v487_289 {
    width: 851px;
    height: 96px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 1257px;
    left: 772px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v531_362 {
    width: 424px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 297px;
    left: 2404px;
    font-family: IBM Plex Serif;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  