{% extends "app_base.html" %}
{% load static %}

{# 20210722 #}
{% block title %}Student Record : MFRI Student Number Initialize{% endblock %}

{% block content %}
<h2><a href="{% url 'srec_edit_student_data_pk' student_record.id %}"><img src="{% static "graphics/arrow-left.gif" %}" border="0" alt="Back"> Student Record Edit: {{ student_record.full_name }}</a></h2>
{% if parent_url %}
{% endif %}

<br><br>
<div align="center">
<form action="" method="post">
    {% csrf_token %}
    <p>
        Please click the button below to confirm you want to assign a new MFRI Student Number to {{ student_record.full_name }}.  If there is already a student with the same SSN in the system it will use that student's MFRI Student Number.  Please ensure that the SSN you have for this student record is correct and unique to this student.
    </p>
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
      <table cellpadding="4" cellspacing="4" width="600" >
          <table cellpadding="4" cellspacing="4" width="600" >
          <table cellpadding="4" cellspacing="4" width="600" >
              <tr>
                 <th  class="entry_form_grid" >Name</th>
                 <td  class="entry_form_grid" >
                     {{ student_record.full_name }}
                 </td>
              </tr>

              <tr>
                 <th  class="entry_form_grid" >MFRI Student Number</th>
                 <td  class="entry_form_grid" >
                     {{ student_record.mfri_student_number }}
                 </td>
              </tr>
          </table>
      </table>
      <input class="Button" type="Submit" value="Confirm MFRI Student Number Initialization" name="FormButton">
      </p>
</form>
</div>
{% endblock %}

{% block main_footer %}<hr>
{% endblock %}    
