* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v485_251 {
    width: 100%;
    height: 1783px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v485_252 {
    width: 270px;
    height: 98px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 368px;
    left: 1353px;
    overflow: hidden;
  }
  .v485_253 {
    width: 100%;
    height: 84px;
    background: rgba(226,24,51,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v485_254 {
    width: 100%;
    height: 380px;
    background: rgba(194,194,194,1);
    opacity: 1;
    position: absolute;
    top: 86px;
    left: 0px;
    overflow: hidden;
  }
  .v485_255 {
    width: 452px;
    color: rgba(255,255,255,0.6499999761581421);
    position: absolute;
    top: 33px;
    left: 320px;
    font-family: IBM Plex Serif;
    font-weight: SemiBold;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v485_257 {
    width: 698px;
    height: 100%;
    background: rgba(226,226,226,0.800000011920929);
    opacity: 1;
    position: absolute;
    top: 466px;
    left: 1px;
    overflow: hidden;
  }
  .v485_258 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 362px;
    left: 0px;
    overflow: hidden;
  }
  .v485_259 {
    width: 100%;
    height: 104px;
    background: url("../images/v485_259.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v485_260 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(149,149,149,1);
  }
  .v485_261 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v485_262 {
    width: 100%;
    height: 104px;
    background: url("../images/v485_262.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v485_263 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(149,149,149,1);
  }
  .v485_264 {
    width: 424px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 393px;
    left: 497px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v485_265 {
    width: 269px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 393px;
    left: 1002px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v485_266 {
    width: 359px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 393px;
    left: 1294px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v485_267 {
    width: 269px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 393px;
    left: 1720px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v485_268 {
    width: 269px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 393px;
    left: 2070px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v485_269 {
    width: 349px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 393px;
    left: 2392px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v485_272 {
    width: 339px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 393px;
    left: 91px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v485_273 {
    width: 297px;
    height: 100px;
    background: rgba(196,196,196,0.5);
    opacity: 1;
    position: absolute;
    top: 364px;
    left: 2418px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v485_303 {
    width: 324px;
    color: rgba(40,40,40,1);
    position: absolute;
    top: 541px;
    left: 335px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 55px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v485_305 {
    width: 74px;
    height: 77px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 571px;
    left: 1484px;
    overflow: hidden;
  }
  .v485_306 {
    width: 37px;
    height: 23px;
    background: rgba(99,99,99,1);
    opacity: 1;
    position: absolute;
    top: 27px;
    left: 18px;
  }
  .v485_307 {
    width: 74px;
    height: 77px;
    background: url("../images/v485_307.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v485_309 {
    width: 658px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 584px;
    left: 804px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 55px;
    opacity: 1;
    text-align: left;
  }
  .v485_310 {
    width: 215px;
    height: 102px;
    background: rgba(226,24,51,1);
    opacity: 1;
    position: absolute;
    top: 1593px;
    left: 2514px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    overflow: hidden;
  }
  .v485_311 {
    width: 248px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1606px;
    left: 2493px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v485_314 {
    width: 215px;
    height: 102px;
    background: rgba(234,171,0,1);
    opacity: 1;
    position: absolute;
    top: 1593px;
    left: 2164px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    overflow: hidden;
  }
  .v485_315 {
    width: 248px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1612px;
    left: 2143px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v531_366 {
    width: 424px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 297px;
    left: 2404px;
    font-family: IBM Plex Serif;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  