* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v346_2 {
    width: 100%;
    height: 1783px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v346_72 {
    width: 270px;
    height: 98px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 368px;
    left: 1353px;
    overflow: hidden;
  }
  .v346_3 {
    width: 100%;
    height: 84px;
    background: rgba(226,24,51,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v346_4 {
    width: 100%;
    height: 380px;
    background: rgba(194,194,194,1);
    opacity: 1;
    position: absolute;
    top: 86px;
    left: 0px;
    overflow: hidden;
  }
  .v346_5 {
    width: 452px;
    color: rgba(255,255,255,0.6499999761581421);
    position: absolute;
    top: 33px;
    left: 320px;
    font-family: IBM Plex Serif;
    font-weight: SemiBold;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v346_8 {
    width: 698px;
    height: 100%;
    background: rgba(226,226,226,0.800000011920929);
    opacity: 1;
    position: absolute;
    top: 466px;
    left: 1px;
    overflow: hidden;
  }
  .v482_268 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 362px;
    left: 0px;
    overflow: hidden;
  }
  .v482_267 {
    width: 100%;
    height: 104px;
    background: url("../images/v482_267.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v346_17 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(149,149,149,1);
  }
  .v482_272 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v482_273 {
    width: 100%;
    height: 104px;
    background: url("../images/v482_273.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v482_274 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(149,149,149,1);
  }
  .v527_321 {
    width: 417px;
    height: 37px;
    background: url("../images/v527_321.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px 10px;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 395px;
    left: 501px;
    overflow: hidden;
  }
  .v346_19 {
    width: 397px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v527_322 {
    width: 226px;
    height: 37px;
    background: url("../images/v527_322.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px 10px;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 395px;
    left: 979px;
    overflow: hidden;
  }
  .v346_20 {
    width: 206px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v527_323 {
    width: 236px;
    height: 37px;
    background: url("../images/v527_323.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px 10px;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 395px;
    left: 1355px;
    overflow: hidden;
  }
  .v346_21 {
    width: 216px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v527_324 {
    width: 257px;
    height: 37px;
    background: url("../images/v527_324.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px 10px;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 395px;
    left: 1726px;
    overflow: hidden;
  }
  .v346_22 {
    width: 237px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v527_325 {
    width: 110px;
    height: 37px;
    background: url("../images/v527_325.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px 10px;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 395px;
    left: 2135px;
    overflow: hidden;
  }
  .v346_23 {
    width: 90px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v527_326 {
    width: 197px;
    height: 37px;
    background: url("../images/v527_326.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px 10px;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 395px;
    left: 2468px;
    overflow: hidden;
  }
  .v346_24 {
    width: 177px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v346_74 {
    width: 215px;
    height: 102px;
    background: rgba(226,24,51,1);
    opacity: 1;
    position: absolute;
    top: 1593px;
    left: 2508px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    overflow: hidden;
  }
  .v346_75 {
    width: 127px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1634px;
    left: 2552px;
    font-family: IBM Plex Sans Condensed;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v346_18 {
    width: 339px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 393px;
    left: 91px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v527_320 {
    width: 317px;
    height: 120px;
    background: url("../images/v527_320.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px 10px;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 354px;
    left: 102px;
    overflow: hidden;
  }
  .v367_170 {
    width: 297px;
    height: 100px;
    background: rgba(196,196,196,0.5);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v367_171 {
    width: 698px;
    color: rgba(40,40,40,1);
    position: absolute;
    top: 1394px;
    left: 42px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 55px;
    opacity: 1;
    text-align: left;
  }
  .v367_179 {
    width: 698px;
    color: rgba(40,40,40,1);
    position: absolute;
    top: 1245px;
    left: 135px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 55px;
    opacity: 1;
    text-align: left;
  }
  .v367_180 {
    width: 513px;
    color: rgba(40,40,40,1);
    position: absolute;
    top: 630px;
    left: 272px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 55px;
    opacity: 1;
    text-align: left;
  }
  .v367_181 {
    width: 526px;
    color: rgba(40,40,40,1);
    position: absolute;
    top: 479px;
    left: 234px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 55px;
    opacity: 1;
    text-align: left;
  }
  .v368_182 {
    width: 539px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 468px;
    left: 777px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: left;
  }
  .v369_183 {
    width: 187px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 682px;
    left: 802px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: left;
  }
  .v369_184 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 771px;
    left: 802px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: left;
  }
  .v369_185 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 930px;
    left: 802px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: left;
  }
  .v369_186 {
    width: 420px;
    height: 120px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 1054px;
    left: 921px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    overflow: hidden;
  }
  .v369_187 {
    width: 420px;
    height: 120px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 1054px;
    left: 1413px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    overflow: hidden;
  }
  .v369_188 {
    width: 390px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1071px;
    left: 951px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 45px;
    opacity: 1;
    text-align: left;
  }
  .v369_189 {
    width: 390px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1069px;
    left: 1429px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 45px;
    opacity: 1;
    text-align: left;
  }
  .v369_190 {
    width: 821px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1245px;
    left: 802px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 45px;
    opacity: 1;
    text-align: left;
  }
  .v369_191 {
    width: 45px;
    height: 20px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 1308px;
    left: 1579px;
    overflow: hidden;
  }
  .v369_192 {
    width: 249px;
    height: 120px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 1258px;
    left: 1688px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    overflow: hidden;
  }
  .v369_193 {
    width: 249px;
    height: 120px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 1258px;
    left: 1996px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    overflow: hidden;
  }
  .v369_194 {
    width: 19px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1303px;
    left: 1971px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 45px;
    opacity: 1;
    text-align: left;
  }
  .v369_195 {
    width: 84px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1312px;
    left: 1771px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 45px;
    opacity: 1;
    text-align: left;
  }
  .v369_196 {
    width: 112px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1303px;
    left: 2079px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 45px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v421_237 {
    width: 74px;
    height: 77px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 652px;
    left: 1418px;
    overflow: hidden;
  }
  .v421_238 {
    width: 37px;
    height: 23px;
    background: rgba(99,99,99,1);
    opacity: 1;
    position: absolute;
    top: 27px;
    left: 18px;
  }
  .v421_239 {
    width: 74px;
    height: 77px;
    background: url("../images/v421_239.png");
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v421_240 {
    width: 418px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 668px;
    left: 1000px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 45px;
    opacity: 1;
    text-align: center;
  }
  .v517_290 {
    width: 100%;
    height: 185px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 1408px;
    left: 802px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  