* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v462_301 {
    width: 100%;
    height: 1783px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v462_302 {
    width: 270px;
    height: 98px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 368px;
    left: 1353px;
    overflow: hidden;
  }
  .v462_303 {
    width: 100%;
    height: 84px;
    background: rgba(226,24,51,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v462_304 {
    width: 100%;
    height: 381px;
    background: rgba(194,194,194,1);
    opacity: 1;
    position: absolute;
    top: 85px;
    left: 0px;
    overflow: hidden;
  }
  .v462_305 {
    width: 452px;
    color: rgba(255,255,255,0.6499999761581421);
    position: absolute;
    top: 33px;
    left: 320px;
    font-family: IBM Plex Serif;
    font-weight: SemiBold;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v480_273 {
    width: 698px;
    height: 100%;
    background: rgba(226,226,226,0.800000011920929);
    opacity: 1;
    position: absolute;
    top: 466px;
    left: 0px;
    overflow: hidden;
  }
  .v480_313 {
    width: 572px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 543px;
    left: 95px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: right;
  }
  .v480_314 {
    width: 651px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 655px;
    left: 16px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: right;
  }
  .v480_315 {
    width: 651px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 853px;
    left: 23px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: right;
  }
  .v484_404 {
    width: 651px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1030px;
    left: 23px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: right;
  }
  .v484_406 {
    width: 651px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1211px;
    left: 23px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: right;
  }
  .v484_407 {
    width: 651px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1378px;
    left: 23px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: right;
  }
  .v480_320 {
    width: 100%;
    height: 142px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 498px;
    left: 740px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v484_410 {
    width: 100%;
    height: 67px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 672px;
    left: 742px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v489_432 {
    width: 100%;
    height: 88px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 852px;
    left: 742px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v489_452 {
    width: 100%;
    height: 88px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 1041px;
    left: 742px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v489_468 {
    width: 100%;
    height: 88px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 1228px;
    left: 742px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v489_481 {
    width: 100%;
    height: 88px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 1415px;
    left: 742px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v480_321 {
    width: 100%;
    height: 76px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 741px;
    left: 742px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v489_433 {
    width: 100%;
    height: 76px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 937px;
    left: 742px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v489_453 {
    width: 100%;
    height: 76px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 1126px;
    left: 742px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v489_469 {
    width: 100%;
    height: 76px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 1313px;
    left: 742px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v489_482 {
    width: 100%;
    height: 76px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 1500px;
    left: 742px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v480_322 {
    width: 197px;
    color: rgba(187,187,187,1);
    position: absolute;
    top: 752px;
    left: 761px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v489_434 {
    width: 197px;
    color: rgba(187,187,187,1);
    position: absolute;
    top: 943px;
    left: 761px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v489_454 {
    width: 197px;
    color: rgba(187,187,187,1);
    position: absolute;
    top: 1132px;
    left: 761px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v489_479 {
    width: 197px;
    color: rgba(187,187,187,1);
    position: absolute;
    top: 1328px;
    left: 761px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v489_483 {
    width: 197px;
    color: rgba(187,187,187,1);
    position: absolute;
    top: 1515px;
    left: 761px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v484_412 {
    width: 288px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 675px;
    left: 676px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v489_435 {
    width: 288px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 869px;
    left: 711px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v489_455 {
    width: 288px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1062px;
    left: 761px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v489_470 {
    width: 506px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1257px;
    left: 742px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v489_450 {
    width: 288px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 869px;
    left: 1088px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v489_451 {
    width: 288px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 869px;
    left: 1410px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v484_420 {
    width: 348px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 675px;
    left: 1041px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v489_425 {
    width: 479px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 675px;
    left: 1410px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v482_367 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 365px;
    left: 0px;
    overflow: hidden;
  }
  .v482_368 {
    width: 100%;
    height: 104px;
    background: url("../images/v482_368.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v482_369 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(149,149,149,1);
  }
  .v482_370 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v482_371 {
    width: 100%;
    height: 104px;
    background: url("../images/v482_371.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v482_372 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(149,149,149,1);
  }
  .v482_373 {
    width: 424px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 497px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v482_374 {
    width: 269px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 958px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v482_375 {
    width: 359px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 1294px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v482_376 {
    width: 269px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 1720px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v482_377 {
    width: 269px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 2056px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v482_378 {
    width: 349px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 2392px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v482_379 {
    width: 297px;
    height: 100px;
    background: rgba(196,196,196,0.5);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1694px;
  }
  .v482_380 {
    width: 339px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 32px;
    left: 91px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v482_381 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 3359px;
    overflow: hidden;
  }
  .v482_382 {
    width: 100%;
    height: 104px;
    background: url("../images/v482_382.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v482_383 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(149,149,149,1);
  }
  .v482_384 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v482_385 {
    width: 100%;
    height: 104px;
    background: url("../images/v482_385.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v482_386 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(149,149,149,1);
  }
  .v482_387 {
    width: 424px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 497px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v482_388 {
    width: 269px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 958px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v482_389 {
    width: 359px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 1294px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v482_390 {
    width: 269px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 1720px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v482_391 {
    width: 269px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 2056px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v482_392 {
    width: 349px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 2392px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v482_393 {
    width: 297px;
    height: 100px;
    background: rgba(196,196,196,0.5);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 112px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v482_394 {
    width: 339px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 32px;
    left: 91px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v485_329 {
    width: 215px;
    height: 102px;
    background: rgba(226,24,51,1);
    opacity: 1;
    position: absolute;
    top: 1593px;
    left: 2508px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    overflow: hidden;
  }
  .v485_330 {
    width: 248px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1612px;
    left: 2487px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v485_331 {
    width: 215px;
    height: 102px;
    background: rgba(234,171,0,1);
    opacity: 1;
    position: absolute;
    top: 1593px;
    left: 2164px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    overflow: hidden;
  }
  .v485_332 {
    width: 248px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1612px;
    left: 2143px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v484_416 {
    width: 50px;
    height: 50px;
    background: rgba(248,248,248,1);
    opacity: 1;
    position: absolute;
    top: 680px;
    left: 974px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v484_417 {
    width: 50px;
    height: 50px;
    background: url("../images/v484_417.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v484_418 {
    width: 32px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 9px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: right;
  }
  .v489_438 {
    width: 50px;
    height: 50px;
    background: rgba(248,248,248,1);
    opacity: 1;
    position: absolute;
    top: 873px;
    left: 1018px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v489_439 {
    width: 50px;
    height: 50px;
    background: url("../images/v489_439.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v489_440 {
    width: 32px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 9px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: right;
  }
  .v489_458 {
    width: 50px;
    height: 50px;
    background: rgba(248,248,248,1);
    opacity: 1;
    position: absolute;
    top: 1051px;
    left: 1068px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v489_459 {
    width: 50px;
    height: 50px;
    background: url("../images/v489_459.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v489_460 {
    width: 32px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 9px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: right;
  }
  .v489_473 {
    width: 50px;
    height: 50px;
    background: rgba(248,248,248,1);
    opacity: 1;
    position: absolute;
    top: 1247px;
    left: 1262px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v489_474 {
    width: 50px;
    height: 50px;
    background: url("../images/v489_474.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v489_475 {
    width: 32px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 9px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: right;
  }
  .v484_421 {
    width: 50px;
    height: 50px;
    background: rgba(248,248,248,1);
    opacity: 1;
    position: absolute;
    top: 678px;
    left: 1303px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v484_422 {
    width: 50px;
    height: 50px;
    background: url("../images/v484_422.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v484_423 {
    width: 32px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 9px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: right;
  }
  .v489_441 {
    width: 50px;
    height: 50px;
    background: rgba(248,248,248,1);
    opacity: 1;
    position: absolute;
    top: 873px;
    left: 1396px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v489_442 {
    width: 50px;
    height: 50px;
    background: url("../images/v489_442.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v489_443 {
    width: 32px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 9px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: right;
  }
  .v489_426 {
    width: 50px;
    height: 50px;
    background: rgba(248,248,248,1);
    opacity: 1;
    position: absolute;
    top: 678px;
    left: 1733px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v489_427 {
    width: 50px;
    height: 50px;
    background: url("../images/v489_427.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v489_428 {
    width: 32px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 9px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: right;
  }
  .v489_444 {
    width: 50px;
    height: 50px;
    background: rgba(248,248,248,1);
    opacity: 1;
    position: absolute;
    top: 872px;
    left: 1720px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v489_445 {
    width: 50px;
    height: 50px;
    background: url("../images/v489_445.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v489_446 {
    width: 32px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 9px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: right;
  }
  .v489_430 {
    width: 37px;
    height: 38px;
    background: rgba(187,187,187,1);
    opacity: 1;
    position: absolute;
    top: 757px;
    left: 1923px;
  }
  .v489_447 {
    width: 37px;
    height: 38px;
    background: rgba(187,187,187,1);
    opacity: 1;
    position: absolute;
    top: 949px;
    left: 1923px;
  }
  .v489_467 {
    width: 37px;
    height: 38px;
    background: rgba(187,187,187,1);
    opacity: 1;
    position: absolute;
    top: 1138px;
    left: 1923px;
  }
  .v489_480 {
    width: 37px;
    height: 38px;
    background: rgba(187,187,187,1);
    opacity: 1;
    position: absolute;
    top: 1334px;
    left: 1923px;
  }
  .v489_488 {
    width: 37px;
    height: 38px;
    background: rgba(187,187,187,1);
    opacity: 1;
    position: absolute;
    top: 1521px;
    left: 1923px;
  }
  .v489_489 {
    width: 288px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1429px;
    left: 715px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v489_490 {
    width: 288px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1444px;
    left: 1056px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 36px;
    opacity: 1;
    text-align: right;
  }
  .v489_491 {
    width: 398px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1428px;
    left: 1480px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v489_492 {
    width: 50px;
    height: 50px;
    background: rgba(248,248,248,1);
    opacity: 1;
    position: absolute;
    top: 1433px;
    left: 1022px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v489_493 {
    width: 50px;
    height: 50px;
    background: url("../images/v489_493.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v489_494 {
    width: 32px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 9px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: right;
  }
  .v489_495 {
    width: 50px;
    height: 50px;
    background: rgba(248,248,248,1);
    opacity: 1;
    position: absolute;
    top: 1433px;
    left: 1371px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v489_496 {
    width: 50px;
    height: 50px;
    background: url("../images/v489_496.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v489_497 {
    width: 32px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 9px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: right;
  }
  .v489_498 {
    width: 50px;
    height: 50px;
    background: rgba(248,248,248,1);
    opacity: 1;
    position: absolute;
    top: 1430px;
    left: 1898px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v489_499 {
    width: 50px;
    height: 50px;
    background: url("../images/v489_499.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v489_500 {
    width: 32px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 9px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: right;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v489_560 {
    width: 21px;
    height: 23px;
    background: rgba(99,99,99,1);
    opacity: 1;
    position: absolute;
    top: 558px;
    left: 1005px;
  }
  .v489_565 {
    width: 21px;
    height: 23px;
    background: rgba(99,99,99,1);
    opacity: 1;
    position: absolute;
    top: 561px;
    left: 1321px;
  }
  .v489_569 {
    width: 21px;
    height: 23px;
    background: rgba(99,99,99,1);
    opacity: 1;
    position: absolute;
    top: 561px;
    left: 1637px;
  }
  .v489_573 {
    width: 21px;
    height: 23px;
    background: rgba(99,99,99,1);
    opacity: 1;
    position: absolute;
    top: 561px;
    left: 1953px;
  }
  .v489_561 {
    width: 74px;
    height: 77px;
    background: url("../images/v489_561.png");
    opacity: 1;
    position: absolute;
    top: 530px;
    left: 1520px;
  }
  .v489_562 {
    width: 234px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 546px;
    left: 761px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 45px;
    opacity: 1;
    text-align: center;
  }
  .v489_566 {
    width: 234px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 549px;
    left: 1077px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 45px;
    opacity: 1;
    text-align: center;
  }
  .v489_570 {
    width: 234px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 543px;
    left: 1396px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 45px;
    opacity: 1;
    text-align: center;
  }
  .v489_574 {
    width: 234px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 549px;
    left: 1709px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 45px;
    opacity: 1;
    text-align: center;
  }
  .v531_363 {
    width: 424px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 297px;
    left: 2404px;
    font-family: IBM Plex Serif;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  