* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v489_504 {
    width: 100%;
    height: 1783px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v489_505 {
    width: 270px;
    height: 98px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 368px;
    left: 1353px;
    overflow: hidden;
  }
  .v489_506 {
    width: 100%;
    height: 84px;
    background: rgba(226,24,51,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v489_507 {
    width: 100%;
    height: 381px;
    background: rgba(194,194,194,1);
    opacity: 1;
    position: absolute;
    top: 85px;
    left: 0px;
    overflow: hidden;
  }
  .v489_508 {
    width: 452px;
    color: rgba(255,255,255,0.6499999761581421);
    position: absolute;
    top: 33px;
    left: 320px;
    font-family: IBM Plex Serif;
    font-weight: SemiBold;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v489_510 {
    width: 698px;
    height: 100%;
    background: rgba(226,226,226,0.800000011920929);
    opacity: 1;
    position: absolute;
    top: 466px;
    left: 0px;
    overflow: hidden;
  }
  .v489_516 {
    width: 100%;
    height: 296px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 862px;
    left: 737px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v489_517 {
    width: 100%;
    height: 267px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 1249px;
    left: 724px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v489_519 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 365px;
    left: 0px;
    overflow: hidden;
  }
  .v489_520 {
    width: 100%;
    height: 104px;
    background: url("../images/v489_520.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v489_521 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(149,149,149,1);
  }
  .v489_522 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v489_523 {
    width: 100%;
    height: 104px;
    background: url("../images/v489_523.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v489_524 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(149,149,149,1);
  }
  .v489_525 {
    width: 424px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 497px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v489_526 {
    width: 269px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 958px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v489_527 {
    width: 359px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 1294px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v489_528 {
    width: 269px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 1720px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v489_529 {
    width: 269px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 2056px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v489_530 {
    width: 349px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 2392px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v489_531 {
    width: 297px;
    height: 100px;
    background: rgba(196,196,196,0.5);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1694px;
  }
  .v489_532 {
    width: 339px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 32px;
    left: 91px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v489_533 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 3359px;
    overflow: hidden;
  }
  .v489_534 {
    width: 100%;
    height: 104px;
    background: url("../images/v489_534.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v489_535 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(149,149,149,1);
  }
  .v489_536 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v489_537 {
    width: 100%;
    height: 104px;
    background: url("../images/v489_537.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v489_538 {
    width: 100%;
    height: 104px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(149,149,149,1);
  }
  .v489_539 {
    width: 424px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 497px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v489_540 {
    width: 269px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 958px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v489_541 {
    width: 359px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 1294px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v489_542 {
    width: 269px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 1720px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v489_543 {
    width: 269px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 2056px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v489_544 {
    width: 349px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 29px;
    left: 2392px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v489_545 {
    width: 297px;
    height: 100px;
    background: rgba(196,196,196,0.5);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 112px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v489_546 {
    width: 339px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 32px;
    left: 91px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v489_547 {
    width: 215px;
    height: 102px;
    background: rgba(226,24,51,1);
    opacity: 1;
    position: absolute;
    top: 1593px;
    left: 2508px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    overflow: hidden;
  }
  .v489_548 {
    width: 248px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1612px;
    left: 2487px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v489_549 {
    width: 215px;
    height: 102px;
    background: rgba(234,171,0,1);
    opacity: 1;
    position: absolute;
    top: 1593px;
    left: 2164px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    overflow: hidden;
  }
  .v489_550 {
    width: 248px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1612px;
    left: 2143px;
    font-family: IBM Plex Sans;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v489_502 {
    width: 651px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 519px;
    left: 23px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: right;
  }
  .v489_556 {
    width: 651px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 892px;
    left: 12px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: right;
  }
  .v489_557 {
    width: 651px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1249px;
    left: 23px;
    font-family: IBM Plex Sans;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: right;
  }
  .v489_503 {
    width: 100%;
    height: 267px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 519px;
    left: 736px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  